<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Knowledge Base</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="{% static 'js/script.js' %}"></script>

  </head>
  <body>
      <header>
        <a href="/" class="horizontalCentral">
          <img src="{% static 'assets/icon.svg' %}">
          <span class="bold">Knowledge </span>
          <span class="white"> Base</span>
        </a> 
        <div class="">
          <a class="headerLink" href="/add/">Hinzufügen</a> | 
          <a class="headerLink" href="/agb/">AGB</a> | 
          <a class="headerLink" href="/legal-notice/">Impressum</a>
        </div> 
      </header>
      <main class="">
        <div class="pageContent">
            {% block content %}
            {% endblock %}
        </div>
      </main>
    </div>
  </body>
</html>
