<!-- index.html -->
{% extends "base.html" %} {% block content %}
<div class="overviewHeader">
  <h1>Knowledge Base</h1>
  <span>Durchsuche unsere großartige Datenbank mit Fachwissen</span>
  <form class="search" method="post">{% csrf_token %} {{ form }}</form>
</div>

<div class="overviewContent">
  {% load custom_filters %} {% for article in articles %}
  <div class="articleOverview">
    <a href="/article/{{ article.id }}/">
      <h2>{{ article.title }}</h2>
      <p>{{ article.text|truncate_words:100 }}</p>
    </a>
  </div>
  {% endfor %}
</div>
<button onclick="location.href='/add/'" class="absoluteRight">
  + Hinzufügen
</button>
{% endblock %}
